<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="https://pages-themes.github.io/hacker/assets/css/style.css?v=0.2.0">
</head>
<body>
  <header>
    <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    <p>{{ site.description }}</p>
  </header>

  <main>
    {{ content }}
  </main>

<footer>
  <p>© {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
  <p style="margin-top:10px; font-size:0.85em;">
    The views and opinions expressed on this blog are solely my own. I do not condone malicious activity or unethical hacking in any form. This blog is intended for educational and ethical cybersecurity purposes only.
  </p>
</footer>
